<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synaric.app.common">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.synaric.dex.LoadResActivity"
            android:launchMode= "singleTask"
            android:alwaysRetainTaskState= "false"
            android:excludeFromRecents= "true"
            android:screenOrientation= "portrait"
            android:process=":async_launch"/>
    </application>

</manifest>